{% extends "base_generic.html" %} {% load static %} {% block content %}
<div class="fixed inset-0 z-0">
  <img
    src="{% static 'loginBackground.png' %}"
    alt="Background"
    class="w-full z-0 h-full object-cover"
  />
</div>

<div
  class="flex flex-col h-dvh w-full justify-center items-center relative z-10"
>
  <div
    class="border flex flex-col justify-center items-center border-zinc-50/30 text-white shadow-xl rounded-2xl p-6 bg-gray-900/20 backdrop-blur-md"
  >
    <h2 class="text-2xl font-poppins mb-6">Logged Out</h2>
    <p class="mb-4">You have been successfully logged out.</p>
    <a
      href="{% url 'login' %}"
      class="bg-red-800 text-center w-full mx-auto text-lg shadow rounded-xl cursor-pointer hover:bg-gray-800 duration-300 ease-in-out transition-colors text-white px-5 my-3 p-1"
    >
      Login again
    </a>
  </div>
</div>
{% endblock %}
