{% extends "base_generic.html" %} {% load static %} {% block content %}
<div class="fixed inset-0 z-0">
  <img
    src="{% static 'loginBackground.png' %}"
    alt="Background"
    class="w-full z-0 h-full object-cover"
  />
</div>

<div
  class="flex flex-col h-dvh w-full justify-center items-center relative z-10"
>
  <div
    class="border flex flex-col justify-center items-center border-zinc-50/30 text-white shadow-xl rounded-2xl p-6 bg-gray-900/20 backdrop-blur-md"
  >
    <h2 class="text-2xl font-poppins mb-6">Reset Password</h2>

    <form action="" method="post">
      {% csrf_token %} {% if form.email.errors %}
      <div class="text-red-400 mb-4">{{ form.email.errors }}</div>
      {% endif %}
      <div class="mb-4">
        <label class="block mb-2">Email address:</label>
        <div
          class="border-b focus:outline-none !outline-none focus:border-transparent focus:ring-transparent focus:ring-0 focus-within:outline-none active:outline-none focus pl-3 border-zinc-500"
        >
          {{ form.email }}
        </div>
      </div>
      <input
        type="submit"
        class="bg-red-800 text-center w-full mx-auto text-lg shadow rounded-xl cursor-pointer hover:bg-gray-800 duration-300 ease-in-out transition-colors text-white px-5 my-3 p-1"
        value="Reset password"
      />
    </form>

    <p class="mt-4 text-sm text-white">
      Remember your password?
      <a href="{% url 'login' %}" class="text-gray-100 hover:text-white"
        >Login here</a
      >
    </p>
  </div>
</div>
{% endblock %}
