{% extends "base_generic.html" %} {% block content %}
<div class="flex flex-col h-dvh w-full justify-center items-center">
  <div
    class="border flex flex-col justify-center items-center border-zinc-50 shadow-xl rounded-2xl p-6"
  >
    <h2 class="text-2xl font-poppins mb-6">Register</h2>

    <form method="post">
      {% csrf_token %}
      <table>
        {% for field in form %}
        <tr>
          <td class="pt-3 pr-3">{{ field.label_tag }}</td>
          <td
            class="border-b focus:outline-none !outline-none focus:border-transparent focus:ring-transparent focus:ring-0 focus-within:outline-none active:outline-none focus pl-3 border-zinc-500"
          >
            {{ field }}
          </td>
        </tr>
        {% if field.errors %}
        <tr>
          <td></td>
          <td class="text-red-500 text-sm">{{ field.errors|join:", " }}</td>
        </tr>
        {% endif %} {% endfor %}
      </table>
      <input
        type="submit"
        value="Register"
        class="bg-gray-700 text-center w-full mx-auto border border-white text-lg rounded-xl cursor-pointer hover:bg-red-800 duration-300 ease-in-out transition-colors text-white px-5 my-3 p-1"
      />
    </form>

    <p class="mt-4 text-sm">
      Already have an account?
      <a href="{% url 'login' %}" class="text-red-500 hover:text-red-700"
        >Login here</a
      >
    </p>
  </div>
</div>
{% endblock %}
