# Virtual environment files
venv/
.env/
.venv/
env/

__pycache__/
*.py[cod]
*$py.class

settings/local.py
*.env
.env/
.secrets/

*.sqlite3
*.db
*.db.sqlite3

staticfiles/
/media/

.vscode/
.idea/
*.swp
*.swo

*.log
logs/

node_modules/
npm-debug.log*

.coverage
htmlcov/
.pytest_cache/

.DS_Store


Thumbs.db