{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block title %}
    <title>Len's Local Brewery</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <style type="text/tailwindcss">
      @layer base {
        body {
          @apply font-['Poppins'];
        }
      }
    </style>
  </head>
  <body>
    <div class="flex h-dvh w-dvw overflow-clip">
      <div class="h-full w-64 py-3 bg-zinc-100/90">
        {% block sidebar %}
        <div
          class="bg-red-800 w-32 p-3 m-3 aspect-square flex flex-col justify-between"
        >
          <p class="text-6xl pt-3 w-full text-white text-center">⁂</p>
          <div class="w-full my-1 bg-white h-[1px]"></div>
          <h3
            class="text-xl/5 p-1 w-3 tracking-wider text-justify font-lexend font-extralight text-white"
          >
            Len's Local <span class="font-bold">Brewery</span>
          </h3>
        </div>
        <ul
          class="py-9 flex flex-col overflow-clip gap-3 text-xl text-zinc-600"
        >
          <a
            href="{% url 'home' %}"
            class="hover:text-blue-50 p-3 group hover:font-semibold hover:cursor-pointer flex justify-between transition-all hover:bg-red-800 hover:pl-3 hover:tracking-widest duration-300 ease-in-out"
            ><p>Home</p>
            <p
              class="opacity-80 group-hover:opacity-100 translate-x-9 group-hover:translate-x-0 duration-300 delay-75 transition-all"
            >
              ⌂
            </p>
          </a>
          <a
            href="brews"
            class="hover:text-blue-50 p-3 group hover:font-semibold hover:cursor-pointer flex justify-between transition-all hover:bg-red-800 hover:pl-3 hover:tracking-widest duration-300 ease-in-out"
            ><p>Brew</p>
            <p
              class="opacity-80 group-hover:opacity-100 translate-x-9 group-hover:translate-x-0 duration-300 delay-75 transition-all"
            >
              🕮
            </p>
          </a>
          <a
            href="brewers"
            class="hover:text-blue-50 p-3 group hover:font-semibold hover:cursor-pointer flex justify-between transition-all hover:bg-red-800 hover:pl-3 hover:tracking-widest duration-300 ease-in-out"
            ><p>Brewers</p>
            <p
              class="opacity-80 group-hover:opacity-100 translate-x-9 group-hover:translate-x-0 duration-300 delay-75 transition-all"
            >
              ❈
            </p>
          </a>
        </ul>

        {% if num_visits >= 0 %}
        <p
          class="absolute bottom-0 text-xs left-0 z-20 text-zinc-600 w-50 p-3 text-left"
        >
          You have visited this page
          <br />
          <span class="bg-red-800 text-white text-base px-6 font-semibold"
            >{{ num_visits }}</span
          >
          time{{ num_visits|pluralize }}.
        </p>

        {% endif %}
        <div class="m-3 bg-gray-800 h-[1px]"></div>
        <ul class="px-3">
          {% if user.is_authenticated %}
          <li
            class="text-lg w-full bg-gray-800 text-zinc-50 px-3 font-lexend uppercase"
          >
            {{ user.get_username }}
          </li>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button
                type="submit"
                class="px-3 w-full p-1 hover:bg-gray-800 transition-colors duration-300 ease-in-out bg-red-800 text-zinc-100"
              >
                Logout
              </button>
            </form>
          </li>
          {% else %}
          <li
            class="px-3 p-1 hover:bg-gray-800 transition-colors duration-300 ease-in-out bg-red-800 text-zinc-100"
          >
            <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
          </li>
          {% endif %}
        </ul>
        {% endblock %}
      </div>
      <div class="px-12 w-full font-roboto h-full">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
