{% extends "base_generic.html" %} {% load static %}
<!-- Load static files -->

{% block content %}
<h1>Local Library Home</h1>
<p>Welcome to LocalLibrary!</p>

<!-- Add the image here -->
<img src="{% static '../static/image.jpg' %}" alt="Image" style="max-width: 300px; height: auto; margin-bottom: 20px" />

<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<ul>
  <li><strong>Books:</strong> {{ num_books }}</li>
  <li><strong>Copies:</strong> {{ num_instances }}</li>
  <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
  <li><strong>Authors:</strong> {{ num_authors }}</li>
</ul>
{% endblock %}
