{% extends "base_generic.html" %} {% block content %}
<div class="py-3">
  <h1 class="text-xl font-semibold font-lexend mt-6">Global Brew History</h1>
  <p class="text-xs text-zinc-400">Share your brew with us today !</p>
</div>
{% if brews %}
<div class="brew-grid">
  {% for brew in brews %}
  <div class="brew-card">
    <h3><a href="{% url 'brew-detail' brew.id %}">{{ brew.brew_name }}</a></h3>
    <p><strong>Type:</strong> {{ brew.brew_type }}</p>
    <p><strong>Method:</strong> {{ brew.brew_method }}</p>
    <p><strong>Rating:</strong> {{ brew.rating }}/10</p>
    <p><strong>Posted by:</strong> {{ brew.user.username }}</p>
    <p class="post-date">{{ brew.post_date|date:"g:i A / d M / Y" }}</p>
  </div>
  {% endfor %}
</div>

{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endif %} {% else %}
<p>No brews have been posted yet.</p>
{% endif %} {% if user.is_authenticated %}
<a href="{% url 'add-brew' %}" class="btn btn-primary">Add New Brew</a>
{% endif %} {% endblock %}
